<div class="background-wrapper">
  <app-responsive-container>
    <h3>Nosso Time</h3>
    <div class="wrapper">
      <a
        class="card__link"
        href="https://www.linkedin.com/in/antonio-hermann-azevedo-726528123"
        target="_blank"
      >
        <div class="card">
          <div class="card__header">
            <div
              class="card__header__avatar"
              [ngStyle]="{
                backgroundImage:
                  'url(./../../../../assets/images/time/antonio.png)'
              }"
            ></div>
            <div class="card__header__text">
              <span class="card__header__text__nome"
                >Antonio Hermann Azevedo</span
              >
              <span class="card__header__text__cargo"
                >Sócio Fundador na Integral Investimentos</span
              >
            </div>
          </div>
          <div class="card__content">
            <p>43 anos de experiência no mercado financeiro.</p>
            <p>
              Ex-Presidente dos Bancos Itamarati, Uno-e e BMG; Vice-Presidente
              da Finasa Leasing e do Banespa-Banco do Estado de São Paulo,
            </p>
            <p>
              Presidente da Sociedade de Cultura Artística e Presidente do
              Conselho de Administração do MIS- Museu da Imagem e do Som de São
              Paulo.
            </p>
            <p>
              Ex-Piloto de Competição com seis participações nas 24 Horas de Le
              Mans e inúmeras vitórias internacionais e no Brasil competindo
              pelas marcas Porsche, Ferrari e BMW
            </p>
          </div>
        </div>
      </a>
      <a
        class="card__link"
        href="https://www.linkedin.com/in/carlos-fagundes-59a197a4/"
        target="_blank"
      >
        <div class="card">
          <div class="card__header">
            <div
              class="card__header__avatar"
              [ngStyle]="{
                backgroundImage:
                  'url(./../../../../assets/images/time/carlos.png)'
              }"
            ></div>
            <div class="card__header__text">
              <span class="card__header__text__nome">Carlos Fagundes</span>
              <span class="card__header__text__cargo"
                >Fundador na Integral Trust</span
              >
            </div>
          </div>
          <div class="card__content">
            <p>
              Vivamus blandit, urna id tincidunt vehicula, nunc tellus tincidunt
              ex, vitae laoreet augue velit ut lorem.
            </p>
            <p>
              Vestibulum nibh quam, consequat sit amet nisl ut, aliquam
              scelerisque est. Aliquam quam felis, rhoncus eu tempor a, bibendum
              sit amet magna. Morbi eros ipsum, porta eget ligula in, pulvinar
              finibus nulla.
            </p>
            <p>
              Aenean porttitor non lorem a malesuada. Vestibulum faucibus
              tristique sagittis.
            </p>
            <p>Sed tortor mauris, cursus vitae mollis id, rhoncus eget urna.</p>
          </div>
        </div>
      </a>
      <a
        class="card__link"
        href="https://www.linkedin.com/in/vitor-bidetti-69723a88"
        target="_blank"
      >
        <div class="card">
          <div class="card__header">
            <div
              class="card__header__avatar"
              [ngStyle]="{
                backgroundImage:
                  'url(./../../../../assets/images/time/vitor.png)'
              }"
            ></div>
            <div class="card__header__text">
              <span class="card__header__text__nome">Vitor Bidetti</span>
              <span class="card__header__text__cargo"
                >Sócio Fundador/Comitê Executivo na Integral Group</span
              >
            </div>
          </div>
          <div class="card__content">
            <p>
              Sócio Fundador e CEO da Integral BREI - Brazilian Real Estate
              Investments.
            </p>
            <p>
              Bacharel em Ciências Econômicas pela Fundação Armando Álvares
              Penteado.
            </p>
            <p>
              Um dos fundadores da Brazilian Finance & Real Estate, no período
              de 1999 a 2012, diretor geral da Brazilian Mortgages e BM Sua
              Casa, foi responsável pela estruturação e administração de mais de
              R$ 10 bilhões em fundos de investimento imobiliário, portfólio de
              crédito para pessoas físicas e jurídicas e pela rede com mais de
              100 pontos de venda.
            </p>
            <p>
              De 1991 a 1999, foi diretor do BankBoston, responsável por áreas
              de marketing e produtos do Retail Banking.
            </p>
          </div>
        </div>
      </a>
    </div>
  </app-responsive-container>
</div>
