<div class="wrapper">
  <div class="wrapper__text">
    <span class="wrapper__text__title">
      Aprimore seus investimentos com nossas soluções financeiras tecnológicas
      especializadas
    </span>
    <span
      >Oferecemos expertise financeira e tecnológica para ajudá-lo a atingir
      seus objetivos financeiros mais desafiadores.</span
    >
    <button (click)="onClick.emit()" mat-button color="primary" class="wrapper__text__button">Saiba Mais</button>
  </div>
  <div class="wrapper__image">
    <img src="assets/images/hero-section.svg" alt="">
  </div>
</div>
