<div class="wrapper">
  <!-- Logo -->
  <div>
    <img src="assets/images/logo.png" alt="Logo Integral Trust" />
  </div>
  <!-- Produtos -->
  <div class="topic">
    <span class="topic__title">Produtos</span>
    <ul>
      <li class="topic__item">
        <a class="topic__item__link">RO integral</a>
      </li>
      <li class="topic__item">
        <a class="topic__item__link">RL integral</a>
      </li>
      <li class="topic__item">
        <a class="topic__item__link">RM integral</a>
      </li>
    </ul>
  </div>
  <!-- Redes Sociais -->
  <div class="topic">
    <span class="topic__title">Redes Sociais</span>
    <ul>
      <li class="topic__item">
        <a class="topic__item__link" href="https://www.instagram.com/integralgroup/">Instagram</a>
      </li>
      <li class="topic__item">
        <a class="topic__item__link" href="https://www.linkedin.com/company/integral-trust/">LinkedIn</a>
      </li>
      <li class="topic__item">
        <a class="topic__item__link" href="https://www.youtube.com/channel/UCuHRRlM3-c6FH9_iYLchlSA">Youtube</a>
      </li>
    </ul>
  </div>
  <!-- Endereço/Contato -->
  <div class="topic">
    <span>+55 11 3103 2503</span>
    <span>faleconosco@integraltrust.com.br</span>
    <span>Av. Brigadeiro Faria Lima, 1744, 2º andar - Pinheiros, São Paulo - SP, 01451-910</span>
  </div>
</div>
