.nav {
  display: flex;
  padding: 0.5rem 0;

  &__wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: clamp(600px, 1280px, 1920px);
  }

  &__logo {
    img {
      height: 3rem;
    }
  }

  &__social {
    margin-left: auto;
    gap: 0.5rem;
    display: flex;
    opacity: .5rem;
  }
}

.clickable {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.75;
  }
}

.divider{
  width: 1px;
  margin: 0 1.33rem;
  height: 2rem;
  background: var(--color-text);
  opacity: .33;
}
