.wrapper {
  width: 100%;
  height: 100%;

  padding: 2rem;
  background: var(--color-base);

  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;

  img {
   max-width: 100%;
  }

  .text {
    margin: 2rem 0;
    text-align: center;

    span {
      display: block;
      margin: 0 auto;
    }
    &__title {
      font-weight: 500;
      font-size: var(--text-xl);
    }
  }

  button{
    color: var(--color-base);
    &.warn{
      background-color: #B5003F !important;
    }
    &.primary{
      background-color: var(--color-accent-light) !important;
    }
  }
}
