<div class="wrapper">
  <div class="wrapper__text">
    <span class="wrapper__text__title"
      >Lorem ipsum dolor sit amet, consectetur adipiscing</span
    >
    <p>
      Morbi odio ante, dignissim ac nibh eu, porta ultricies lorem. Integer
      fermentum placerat orci ac facilisis. Praesent eget lectus vel lorem
      varius pellentesque. Pellentesque pharetra dictum dui in posuere.
    </p>
    <ul>
      <li>Cras sagittis lorem aliquam molestie convallis.</li>
      <li>Proin diam ex, fringilla et convallis vitae, rutrum mollis augue.</li>
      <li>Fusce vitae ante sit amet dui finibus placerat.</li>
    </ul>
    <p>Nulla ut tortor eleifend, rutrum lectus ut, aliquam ipsum.</p>
  </div>
  <div class="wrapper__image">
    <img src="assets/images/transfer-money.svg" />
  </div>
</div>
