<nav class="nav">
  <!-- Logo -->
  <div class="nav__logo clickable">
    <img src="assets/images/logo.png" alt="Logo Integral Trust" />
  </div>
  <!-- Social -->
  <div class="nav__social">
    <div class="nav__social__link clickable">
      <a
        href="https://www.instagram.com/integralgroup/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/icons/instagram.svg" alt="Ícone Instagram" />
      </a>
    </div>
    <div class="nav__social__link clickable">
      <a
        href="https://www.linkedin.com/company/integral-trust/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/icons/linkedin.svg" alt="Ícone LinkedIn" />
      </a>
    </div>
    <div class="nav__social__link clickable">
      <a
        href="https://www.youtube.com/channel/UCuHRRlM3-c6FH9_iYLchlSA"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="assets/icons/youtube.svg" alt="Ícone YouTube" />
      </a>
    </div>
  </div>
</nav>
