.nav {
  display: flex;
  align-items: center;

  &__logo {
    img {
      width: 5rem;
    }
  }

  &__social {
    margin-left: auto;
    gap: 0.5rem;
    display: flex;
    opacity: 0.5rem;
  }
}

.clickable {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.75;
  }
}

.divider {
  width: 1px;
  margin: 0 1.33rem;
  height: 2rem;
  background: var(--color-text);
  opacity: 0.33;
}
