<div class="wrapper">
  <div class="text-wrapper">
    <h1 class="text-wrapper__title">
      Aprimore seus investimentos com nossas soluções financeiras tecnológicas
      especializadas
    </h1>
    <span
      >Oferecemos expertise financeira e tecnológica para ajudá-lo a atingir
      seus objetivos financeiros mais desafiadores.</span
    >
    <button mat-button color="primary" class="action-button">Saiba Mais</button>
  </div>
  <div>
    <img src="assets/images/hero-section.svg" alt="">
  </div>
</div>
