<app-responsive-container>
  <div class="wrapper">
    <div class="image-wrapper">
      <img src="assets/images/online-stats.svg" />
    </div>
    <div class="text-wrapper">
      <span class="title">Curabitur sed neque sed dolor scelerisque accumsan eu sed ipsum.</span>
      <p>
        Nam vitae orci ac urna rutrum varius. Morbi viverra ultrices felis, ut
        malesuada sapien tincidunt eget. Morbi sollicitudin mauris sed tempor
        porttitor.
      </p>
      <p>
        Nullam enim risus, mattis eu nunc non, pharetra ornare felis. Quisque id
        nisl sed neque luctus consectetur quis suscipit mauris. Aenean non
        tincidunt lacus. Morbi ornare consequat euismod. Fusce ex risus,
        interdum convallis mollis eget, aliquam a sapien.
      </p>
    </div>
  </div>
</app-responsive-container>
