<div>
  <app-responsive-container>
    <app-hero></app-hero>
  </app-responsive-container>
</div>
<div class="modulos-container">
  <app-responsive-container>
    <app-modulos></app-modulos>
  </app-responsive-container>
</div>
<div>
  <app-responsive-container>
    <app-funcionalidades></app-funcionalidades>
  </app-responsive-container>
</div>
<div>
  <app-responsive-container>
    <app-beneficios></app-beneficios>
  </app-responsive-container>
</div>
<!-- <app-time></app-time> -->
<div class="faq-container">
  <app-responsive-container>
    <app-faq></app-faq>
  </app-responsive-container>
</div>
<div class="form-container">
  <app-responsive-container>
    <app-demo-form></app-demo-form>
  </app-responsive-container>
</div>
<div>
  <app-responsive-container>
    <app-footer></app-footer>
  </app-responsive-container>
</div>
